@CHARSET "UTF-8";

.imagemCentralizada {
	display: block;
	margin-left: center;
	margin-right: center;
	width: 100%;
}

.divTopo {
	padding-bottom: 5px;
}

.divCabecalho {
	padding-bottom: 5px;
}

.ui-widget, .ui-widget .ui-widget {
	font-size: 100% !important;
}